**/**/libs/
**/**/.svn/
**/comArchive.db
**/comArchive.db-journal
**/target/
**/libs/
**/.svn/
**/providerURIs.properties
**/centralDirectoryService.uri
**/providerURIsSecondary.properties
*.iml
**/.idea
*/**/nbactions*.xml
**/.project
**/.classpath
**/.settings
**/.vscode
**/build/
